/* All Common Css File Start */
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.continer{
    width: 1170px;
    margin: 0 auto;
    
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
.mr{
    margin-right: 0 !important;
}
.br{
    margin-right: 0 !important;
}
/* All Common Css File End */

/* Header Part Start */
#header_part{
    background-color: rgba(0, 0, 0, 0.44);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo_with_menu{
    display: flex;
}
.logo{
    width: 270px;
    margin-top: 30px;
}
.menu{
    width: 900px;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 45px;
    line-height: 90px;
    transition: .5s;
}
.menu ul li a:hover{
    color: #28b8d8;
}
/* Header Part End */

/* Bennar Part Start */
#bennar_part{
    background: url(../image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.bennar_text{
    text-align: center;
}
.bennar_text h1{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.bennar_text h3{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    padding: 30px 0;
    letter-spacing: 2px;
}
.bennar_text p{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 14px;
}
.overly{
    background-color: rgba(0, 0, 0, 0.475);
    padding-top: 330px;
    padding-bottom: 250px;
}
/* Bennar Part End */

/* Service Part Start */
#service_part{
    padding: 80px 0;
    background: #f9f9f9;
}
.service_text_part{
    text-align: center;
}
.service_text_part h4{
    color: #444444;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 30px;
}
.service_text_part p{
    color: #666666;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.service_text_part h3{
    color: #444444;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 30px;
}
.service_item_part{
    display: flex;
}
.service_item{
    width: 368px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    margin-right: 30px;
}
.item_img img{
    width: 100%;
}
.item_text{
    text-align: center;
    padding: 0 35px;
}
.item_text h3{
    color:#444444;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 15px;
}
.item_text p{
    color: #666666;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

}
/* Service Part End */

/* Instagram Part Start */
#insta_part{
    background: #2c2c2c;
    padding: 50px 0;
}
.insta_tittle{
    text-align: center;
}
.insta_tittle h3{
    color: #d5d5d5;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    display: inline-block;
}
.insta_tittle h3::before{
    height: 2px;
    width: 100px;
    content: "";
    position: absolute;
    background-color: #535353;
    top: 50%;
    left: -115px;
    transform: translateY(-50%);
}
.insta_tittle h3::after{
    height: 2px;
    width: 100px;
    content: "";
    position: absolute;
    background-color: #535353;
    top: 50%;
    right: -115px;
    transform: translateY(-50%);
}
/* Insta Short Part Start */
.insta_short_part{
    display: flex;
}
.insta_short_item{
    margin-top: 45px;
    width: 25%;
    
}
.insta_short_item img{
    width: 100%;
}
/* Insta Short Part End */
.insta_btn{
    text-align: center;
    margin-top: 50px;
}
.insta_btn a{
    padding: 15px 20px;
    border: 1px solid #797979;
    color: #a6a6a6;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.insta_btn a i{
    margin-right: 7px;
}
/* Instagram Part End */

/* From Part Start */
#from_part{
    background: #f9f9f9;
    padding: 80px 0 30px 0;
}
.from_text{
    text-align: center;
}
.from_text h3{
    color: #444444;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    display: inline-block;
}
.from_text h3::before{
    height: 1px;
    width: 100px;
    content: "";
    position: absolute;
    background-color: #d9d9d9;
    top: 50%;
    left: -115px;
    transform: translateY(-50%);

}
.from_text h3::after{
    height: 1px;
    width: 100px;
    content: "";
    position: absolute;
    background-color: #d9d9d9;
    top: 50%;
    right: -115px;
    transform: translateY(-50%);
}
/* From Part End */

/* Blog Part Start */
.blog_item_part{
    display: flex;
}
.blog_item{
    width: 368px;
    border: 1px solid #e3e3e3;
    padding: 25px 0;
    text-align: center;
    margin-right: 30px;
}
.blog_item_text h3{
    color: #444444;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 16px;
    
}
.blog_item_text p{
    color: #999999;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.blog_item_img img{
    width: 100%;
}
.blog_item_p p{
    color: #666666;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 25px 10px;
    line-height: 22px;
}
.blog_item_btn{
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}
.left_btn{
    color: #999999;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 11px;
    width: 100px;
}
.left_btn a{
    width: 90px;
    border-bottom: 2px solid #28b8d8;
}
.right_btn{
    color: #999999;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 11px;
    width: 25px;
}
/* Blog Part End */

/* About and Services Part Start */
#about_and_services_part{
    padding: 80px 0;
    background: #f9f9f9;
}
.services_part{
    display: flex;
    margin-right: 30px;
}
.little_about{
    width: 570px;
    margin-right: 30px;
}
.little_about h3{
    color: #444444;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    display: inline-block;
}
.little_about h3::before{
    height: 1px;
    width: 100px;
    content: "";
    position: absolute;
    background-color: #d9d9d9;
    top: 50%;
    right: -115px;
    transform: translateY(-50%);
}
.img_text{
    display: flex;
    margin-top: 30px;
}
.man_img img{
    width: 195px;
    height: 280px;
    margin-right: 30px;
}
.about_text{
    width: 345px;
}
.about_text h4{
    color: #666666;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22PX;
}
.about_text P{
    color: #666666;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22PX;
    padding-top: 30px;
}
.my_services h3{
    color: #444444;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    display: inline-block;
}
.my_services h3::before{
    height: 1px;
    width: 100px;
    content: "";
    position: absolute;
    background-color: #d9d9d9;
    top: 50%;
    right: -115px;
    transform: translateY(-50%);
}
.icon_and_text{
    display: flex;
    padding-top: 25px;
}
.icon_part{
    margin-right: 25px;
}
.text_part h3{
    color: #444444;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 17px;
}
.text_part p{
    color: #666666;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-top: 20px;
}
/* Footer Part Start */

/* Footer Part End */

/* About and Services Part End */

/* Header Part Start */
/* Header Part End */